body {
    margin: 60px auto;
    width: 70%;
    background-color: #002b36;
}
nav ul, footer ul {
    font-family: monospace;
    padding: 0px;
    list-style: none;
    color: #268bd2;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color: #268bd2;
}
a {
    text-decoration: none;
    font-size:14px;
    font-family: monospace;
    color: #268bd2;
}
a:hover {
    text-decoration: underline;
}
a.lic {
    font-size: 12px;
    color: #268bd2;
}    
b {
    font-size: 14px;
    color: #268bd2;
    font-family: monospace;
}
h1 {
    font-size: 14px;
    font-family: monospace;
    color: #93a1a1;
}
p {
    font-size: 14px;
    font-family: monospace;
    line-height: 1.4em;
    font-weight: 400;
    color: #93a1a1;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
code {
    font-size: 15px;
    font-family: monospace;
    line-height: 1.4em;
    font-weight: 500;
    background: #073642;
    color: #859900;
    padding: 3px; 
}
pre {
    font-size: 14px;
    font-family: monospace;
    line-height: 1.4em;
    font-weight: 400;
    color: #93a1a1;
}