<!-- 

	  __  __            __  __                 _                                  
	 |  \/  | __ ___  _|  \/  |_   _ _ __   __| | __ _ _   _   ___ ___  _ __ ___  
	 | |\/| |/ _` \ \/ / |\/| | | | | '_ \ / _` |/ _` | | | | / __/ _ \| '_ ` _ \ 
	 | |  | | (_| |>  <| |  | | |_| | | | | (_| | (_| | |_| || (_| (_) | | | | | |
	 |_|  |_|\__,_/_/\_\_|  |_|\__,_|_| |_|\__,_|\__,_|\__, (_)___\___/|_| |_| |_|
                                                       |___/                              
 	                                                        __   
															| \
														~~	=[_|H)-..______
														~~	=[+..,........'
										  _					 [|_/""  
	 	                        .-.      / \        _
	    	        ^^         /   \    /^./\__   _/ \
	    	      _        .-.'\/\_ \_ /.      \ /    \  ^^  ___
	    	     / \_    _/ ^      \/  __  :'   /\/\  /\  __/   \
	    	    /    \  /    .'   _/  /  \   ^ /    \/  \/ .`'\_/\
	    	   /\/\  /\/ :' __  ^/  ^/    `.-./.'  ^  `-.\ _    _:\ _
	    	  /    \/  \  _/  \-' __/.' ^ _   \_   .'\   _/ \ .  __/ \
	    	/\  .-   `. \/     \ / -.   _/ \ -. `_/   \ /    `._/  ^  \
	   	   /  `-.__ ^   / .-'.-.'    . /    `.-./ .-'  `-.  `-. `.  -  `.
	 	 @/        `.  / /      `-.   /  .-'   / .   .'   \    \  \  .-  \%
		 @(88%@)@%% @)&@&(88&@.-_=_-=_-=_-=_-=_.8@% &@&&8(8%@%8)(8@%8 8%@)%
		 @88:::&(&8&&8::JGS:&`.~-_~~-~~_~-~_~-~~=.'@(&%::::%@8&8)::&#@8::::
		 `::::::8%@@%:::::@%&8:`.=~~-.~~-.~~=..~'8::::::::&@8:::::&8::::::'
		  `::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::'              
-->


<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="https://www.maxmunday.com">About</a></li>
	        		<li><a href="https://au.linkedin.com/in/maxmunday">CV</a></li>
	        		<li><a href="https://www.maxmunday.com/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mundaymax@yahoo.com.au">email</a></li>
	        		<li><a href="https://github.com/maxmunday">GitHub</a></li>
				<li><a href="https://au.linkedin.com/in/maxmunday">LinkedIn</a></li>
				<li><a href="https://twitter.com/_maxmunday">Twitter</a></li>
				</ul>
			</footer>
		</body>
	</html>
